h1{
    color: red
}

h1.title {
    padding-left: 20px;
    color: #000; /*#000000*/
}

table.inputBox {
    margin-left: 200px;
    margin-top: 10px;
    /*margin:auto;*/
}

input[type=text], input[type=password] {
    width: 200px;
    height: 20px;
    
    font-size: 1.2em;
    
    padding: 3px 5px;
}

input[type=submit] {
    padding: 3px 10px;
}

table.inputBox td {
    padding: 15px;
}